.western-header {
  .western-logo {
    a {
      background-image: url('../images/foundation-logo-ribbon.svg');
    }
  }
}

@media (max-width: 800px){
.western-header .western-logo a {
    background: url(../images/foundation-logo.svg) no-repeat;
	background-position: center;
	background-color: #003f87;
    margin-bottom: .375em;
}
}
