.view-stories {
  .views-row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto 3em;
    padding: 0;
    max-width: 90%;
  }

  .views-field-field-image {
    line-height: 0;
  }

  .views-field-nothing {
    background: $wwu-blue;
    color: #fff;
    display: table;
    left: -5em;
    padding: 2.5em 3.75em;
    position: relative;
    width: 35%;
  }

  .views-field-title {
    border-bottom: 10px solid $wwu-light-blue;
    display: inline-block;
    font-weight: bold;
    padding: 0 3em .5em 0;
    text-transform: uppercase;

    a {
      color: #fff;
      display: block;
      font-size: 70%;
    }
  }

  .views-field-body {
    line-height: 2;
    margin-bottom: 1.5em;
  }

  .read-more-link {
    float: right;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;

    a {
      color: #fff;
    }
  }

  .views-row:nth-child(2n + 1) {
    .views-field-field-image {
      order: 1;
    }

    .views-field-nothing {
      left: 0;
      left: 8%;
    }
  }

  @include breakpoint(max-width $desktop) {
    .views-row {
      flex-flow: column wrap;
    }

    .views-field-field-image {
      order: 0;
      border: solid #003f87 30px;
      margin-bottom: -30px;
      width: 100%;
      box-sizing: border-box;

      img {
        width: 100%;
      }
    }

    .views-field-nothing {
      order: 1;
      width: 100%;
      box-sizing: border-box;
      position: inherit;
      padding: 30px;
    }
  }
}
